@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body{
  height:100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #b3afaf;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  background-color: #02101a;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
}

.jumbotron-fluid{
    height: 100vh;
    background-image: url(../img/blob-scene-haikei.svg);
    background-size: cover;
}

#jumboText{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

h1{
    background: -webkit-linear-gradient(160deg, #23aa14 50%, #00283b 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600 !important;
}
#jumboText p{
    background: -webkit-linear-gradient(160deg, #23aa14 50%, #00283b 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Scroll icon*/
.jumbotron-fluid a{
    color: #d6cbcb;
    transition: 600ms;
    display: inline-block;
    font-size: 1.5em;
    text-decoration: underline;
}

.jumbotron-fluid a:hover{
    color: rgb(100, 100, 100);
}


.jumbotron-fluid p{
    font-size: 2em;
}



hr{
    border: 1px solid #23aa14;
    width: 15em;
    margin-left: 0px;
}

#linkedInPara{
    text-align: center;
}

.myWork{
    background-color: #00283b;
    border-radius: 2em;
}

img{
    max-height: 8em;
}


footer{
    background-color: #01090f;
    padding: 1rem 2rem 3rem;
  }

ul.social{
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
  }

footer .fab{
    color: #b3afaf;
    padding: .1em;
    transition: 500ms;
  }

footer .fab:hover{
    color: #68a0d2;
  }

.socket{
    background-color: #01090f;
    border-top: .1rem solid #23aa14;
    height: 56px;
  }

