@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height:100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  overflow-x: hidden im !important;
  scroll-behavior: smooth;
}

.jumbotron-fluid{
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

#jumboText{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

/*Scroll icon*/
.jumbotron-fluid a{
    color: #222;
    transition: 600ms;
    display: inline-block;
}
.jumbotron-fluid a:hover{
    color: rgb(100, 100, 100);
    transform: rotate(180deg);
}

.jumbotron-fluid p{
    font-size: 2em;
}

hr{
    border: 1px solid rgba(0,145,189,255);
    width: 15em;
    margin-left: 0px;
}

.carousel-item{
    height: 40em;
    background-color: #d99e80;
    padding: 2em;
    border-radius: 2em;
}

.carousel-item:first-of-type h3{
    margin-top: 150px;
}

.carousel-item:nth-of-type(2) h3{
    margin-top: 150px;
}

#mobileslides{
    display: none;
}

#workSection{
    padding-bottom: 2em;
}

footer{
    background-color: #383838;
    padding: 1rem 2rem 3rem;
  }

ul.social{
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
  }

footer .svg-inline--fa{
    color: aliceblue;
    padding: .1em;
    transition: 500ms;
  }

footer .svg-inline--fa:hover{
    color: #68a0d2;
  }

.socket{
    background-color: #222222;
    border-top: .1rem solid #4981b3;
    height: 56px;
  }

@media only screen and (max-width: 425px){

    #slides{
        display: none;
    }

    #mobileslides{
        display: block;
    }

    .carousel-item{
        height: 555px;
        margin: 0 .5em;
    }
     
    .carousel-item:first-of-type h3{
        margin-top: 3em;
    }

    .carousel-item:nth-of-type(2) h3{
        margin-top: 1em;
    }


}